header{
    display: block;
    height:50px;
    background: #19bee1;
}

.title{
    text-align: center;
    line-height:50px;
    font-weight:bold;
    font-family: "Lucida Calligraphy";
}

.container{
    overflow: hidden;
    display: block;
    height:100%;
}